.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.TodoItem input {
    width: 20px;
}

.TodoItem .content {
    flex: 1;
}

.TodoItem .date {
    font-size: 14px;
    color: gray;
}

.TodoItem button {
    font-size: 14px;
    cursor: pointer;
    color: gray;
    border-radius: 5px;
    border: none;
    padding: 5px;
}