.TodoList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TodoList input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #cfcfcf;
}

.todo_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}